.row
  .col-md-12
    .page-header
      %h1 
        Surgeon
        %small List
        = link_to new_surgeon_path(active_tab: TAB_NAMES[:system_settings]), class: "btn btn-primary" do
          %span.fa.fa-plus
          New Surgeon
.row
  .col-md-12
    %table.table.dataTable.table-bordered.table-hover.table-striped.index-table
      %thead
        %tr
          %th Name
          %th Actions
      %tbody
        - @surgeons.each do |surgeon|
          %tr
            %td= surgeon.full_name.titleize
            %td
              = link_to "Edit", edit_surgeon_path(surgeon), class: "btn btn-primary btn-outline btn-sm"

= will_paginate @surgeons
