.row
  .col-md-12
    .page-header
      %h1 
        User
        %small List
        = link_to new_user_path, class: "btn btn-primary" do
          %span.fa.fa-plus
          New User
.row
  .col-md-12
    %table.table.dataTable.table-bordered.table-hover.table-striped.index-table
      %thead
        %tr
          %th Name
          %th System Role
          %th Action
      %tbody
        - @users.each do |user|
          %tr
            %td= user.full_name
            %td= user.user_role
            %td
              = link_to "Edit", edit_user_path(user), class: "btn btn-primary btn-outline btn-sm"
        
