.row
  .col-md-12
    .panel.panel-default
      .panel-body
        %ul.nav
          - if can? :index, User
            %li= link_to "User List", users_path(active_tab: TAB_NAMES[:system_settings]), class: "btn btn-default btn-lg"
          - if can? :index, Hmo
            %li= link_to "HMO List", hmos_path(active_tab: TAB_NAMES[:system_settings]), class: "btn btn-default btn-lg"
          - if can? :index, Hospital
            %li= link_to "Hospital List", hospitals_path(active_tab: TAB_NAMES[:system_settings]), class: "btn btn-default btn-lg"
          - if can? :index, PatientUpload
            %li= link_to I18n.t('patient_upload.patient_upload'), patient_uploads_path(active_tab: TAB_NAMES[:system_settings]), class: "btn btn-default btn-lg"