.panel.panel-default
  .panel-body
    = simple_form_for :search, url: hmo_patients_index_hmos_path, method: :get do |f|
      .col-md-3
        = f.input :hospital, as: :select, collection: @hospitals,label: false, required: false, include_blank: "All Hospitals"
      .col-md-3
        = f.input :date, as: :date_picker, label: false, required: false, input_html: { value: Date.today.strftime("%Y-%m-%d") }
      .col-md-2
        = f.button :submit, "Search", class: "btn btn-primary"