<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.full_name %>!</h3>
    <p>
      These's a new patient created for encoding. <%= link_to "Click here to see details", @patient_url %>
    </p>
  </body>
</html>