.navbar.navbar-default.navbar-fixed-top.sticky{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#example-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}

    - if user_signed_in?
      #example-navbar-collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav
          - if ( can? :index, User )
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = I18n.t("header.system_settings")
                %b.caret
              %ul.dropdown-menu
                - if can? :index, User
                  %li
                    = link_to I18n.t('user.user'), users_path

        %ul.nav.navbar-nav.navbar-right
          %li.user-profile
            %a{:href => user_path(current_user)}
              %i.fa.fa-user.fa-fw
              #{current_user.full_name}
          %li.dropdown.user-menu
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-caret-down
            %ul.dropdown-menu
              %li
                %a{:href => edit_user_path(current_user)} 
                  = I18n.t('user.edit_profile')
              / %li
              /   =link_to I18n.t('user.change_password'), edit_password_user_path(current_user)
              %li
                =link_to I18n.t('user.logout'), destroy_user_session_path, method: :delete